/* TODO: inserite il CSS necessario per completare il MHW! */
.choice-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choice-grid div {
    width: 32.5%;
    border: solid 1px #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:  10px;
    margin-left: 2px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.choice-grid div img {
    justify-content: center;
    padding: 1px;
    max-height: 100%;
    max-width: 100%;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.bordo {
    background-color: #f4f4f4;
} 

.choosen{
   
    background-color: #cfe3ff;
}

.opaco {
    opacity: 0.6;
}

.hidden {
    display: none;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 40px;
    padding: 20px;
    margin-bottom: 20px;

}
#solution h1{
    margin-top: 0px;
    margin-bottom: 0px;
}


 #solution p {
     margin-top: 18px;
    margin-bottom: 18px;
    text-align: center;
}

.button {
height: 50px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
background-color: #cecece;
}

.button:hover {
  background-color: #e0e0e0;
}

@media (max-width: 700px) {
    article {
        width: 95%;
    } 
    header div span {
        display: none;
    }
}

@media (max-width: 500px) {
    .choice-grid div {
        width: 49%;
    }
}


